; vim: set fileencoding=utf-8 :
; Tue 16 Aug 11:43:54 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.db.biowave_test
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts